body{
  background-color: white;
  margin: 0;
  font-family: 'Inter', serif;
  
}

.header{
  background-color: #F55A5A;
  color: white;
  display: flex;
  justify-content: center;
  height: 55px;
  vertical-align: middle;
}

.header--title{
  font-size: 15px;
  font-weight: 500;
  line-height: 17.5px;
  margin-top: 20px;
}

.header--img{
  height: 24px;
  margin-top: 18px;
  padding-right: 7px;
}

.cardDiv{
  margin: 60px 40px;
}

.card{
  display: flex;
  flex-direction: row;
  max-width: 90%;
  padding-bottom: 15px;
}

.card--textDiv{
   margin-left: 19px;
}

.card--img{
  height: 168px;
  width: 125px;
  border-radius: 6px;
}

.card--pin{
  height: 10px;
  width: 7px;
  padding-top: 5px;
}

.card--country{
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 17%;
  padding-left: 4px;
  padding-right: 8px;
}

.card--mapLink{
  color: rgba(145, 142, 155, 1);
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
}

.card--title{
  font-size: 25px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

.card--date{
  font-size: 10px;
  font-weight: 700;
  margin-top: 15px;
}

.card--description{
  font-size: 10px;
  font-weight: 400;
  margin-top: 15px;
  line-height: 15px;
}

hr{
  height: 1px;
  background-color: rgba(128, 128, 128, 0.405);
  border: none;
}
